interval:
  - interval: 1s
    then:
      - if:
          condition:
            lambda: 'return id(boot_ready);'
          then:
            - lvgl.slider.update:
                id: sleep_timeout_slider
                value: !lambda 'return id(display_sleep_timeout_s);'
                animated: false

            - lvgl.label.update:
                id: sleep_timeout_value
                text: !lambda |-
                  char buf[24];
                  snprintf(buf, sizeof(buf), "%ds", id(display_sleep_timeout_s));
                  return std::string(buf);

            - if:
                condition:
                  lambda: 'return id(display_sleep_enabled);'
                then:
                  - lvgl.label.update:
                      id: sleep_enable_state
                      text: "ON"
                  - lvgl.widget.update:
                      id: sleep_enable_state
                      text_color: 0xD1FAE5
                  - lvgl.widget.update:
                      id: sleep_enable_btn
                      bg_color: 0x166534
                else:
                  - lvgl.label.update:
                      id: sleep_enable_state
                      text: "OFF"
                  - lvgl.widget.update:
                      id: sleep_enable_state
                      text_color: 0xFCA5A5
                  - lvgl.widget.update:
                      id: sleep_enable_btn
                      bg_color: 0x374151

            - if:
                condition:
                  lambda: |-
                    if (!id(display_sleep_enabled)) return false;
                    if (id(screen_off)) return false;
                    uint32_t now = millis();
                    uint32_t elapsed = now - id(last_interaction_ms);
                    return elapsed >= (uint32_t)(id(display_sleep_timeout_s) * 1000);
                then:
                  - logger.log: "Display sleep timeout reached; pausing LVGL and backlight off"
                  - lvgl.pause:
                  - light.turn_off: backlight
                  - lambda: 'id(screen_off) = true;'

  - interval: 10s
    then:
      - if:
          condition:
            lambda: 'return id(boot_ready);'
          then:
            - lvgl.slider.update:
                id: brightness_slider
                value: !lambda |-
                  auto brightness = id(backlight).current_values.get_brightness();
                  if (isnan(brightness)) {
                    return 0;
                  }
                  return (int)(brightness * 100);
                animated: false
